.left {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bgw {
  width: 30vw;
  position: absolute;
  left: 0px;
}

.box {
  /* height: 15vh; */
  position: relative;
  right: 280px;
  top: 45px;
}
