.side {
  display: flex;
  width: 50%;
  height: 100%;
}

.background {
  height: 25vh;
  position: absolute;
}

.woman {
  height: 25vh;
  position: absolute;
}

.box {
  height: 15vh;
  position: absolute;
}
